{% block content %}
<h3>Applications</h3>
<ul>
    <li><a href="{% url 'home' %}">Project Home</a></li>
    <li><a href={% url "app_tracker:home" %}>App Tracker</a></li>
    <li>
        <a href={% url "career_organizerator:home" %}>Career Organizerator</a>
        |
        <a href={% url 'career_organizerator:skill-list' %}>Skills</a>
        |
        <a href={% url 'career_organizerator:behavioral-interview-question-list' %}>Behavioral Interview Questions</a>
        |
        <a href={% url 'career_organizerator:question-response-list' %}>Question Responses</a>
        |
        <a href={% url 'career_organizerator:bulletpoint-list' %}>Bullet Points</a>
    </li>
</ul>

{% endblock content %}